.hover-text {
    color: black;
}
.hover-text:hover {
    color: rgb(57, 141, 250);
}
.first-half {
    color: rgb(57, 141, 250);
}
.text1 {
    background-color: rgb(23, 3, 39);
}
.text2 {
    color: white;
}
.text3 {
    color: white;
}